<%- model_class = Session -%>
<div id="edit-session-page-container">
  <div id="dark-container">
    <div class="row-fluid">
      <div id="form-container" class="span4 offset5" style="margin-top:125px">
        <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
        <%= render :partial => 'form' %>

      </div>
    </div>
  </div>
</div>
