<%- model_class = Session -%>
<div id="add-session-page-container">
  <div id="dark-container">
    <div class="row-fluid">
      <div id="form-container" class="span4 offset5" style="margin-top:125px">
        <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>

        <div style="margin-top: 25px">
          <h3>Activity's Name</h3>
          <%= @session.activity.name %>
        </div>

        <div style="margin-top: 25px">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
