<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<header id="heading" data-0="background-position:center 0px" data-200="background-position:center -50px" data-500="background-position:center -200px">
  <div class="container" style="margin-left:50px">
    <h1>LifeTapper</h1>
    <h4>Discover your Life. <span style="color:lightgreen">One tap at time.</span></h4>
  </div>
</header>

<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>
<h1>Content</h1>

<script type="text/javascript">
var s = skrollr.init();
</script>
