<%- model_class = Count -%>
<div id="edit-count-page-container">
  <div id="dark2-container" class="text-center">
    <div class="row-fluid">
      <div id="form-container" class="span4 offset4" style="margin-top:125px">
        <h1 style="padding-top:50px; padding-bottom:20px"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
        <%= render :partial => 'form' %>

      </div>
    </div>
  </div>
</div>
