<%- model_class = Count -%>
<div id="add-count-page-container">
  <div id="dark-container">
    <div class="row-fluid">
      <div id="form-container" class="span4 offset5" style="margin-top:125px">
        <h1>Add A New Count</h1>

        <div style="margin-top: 25px">
          <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
