<%- model_class = Activity -%>
<div id="page-container">
  <div id="dark-container">
    <div id="form-container" class="span6 text-center offset4" style="margin-top:125px">
      <h1>Add A New Activity</h1>

      <div style="margin-top: 25px">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
