<%- model_class = Activity -%>
<div class="page-header">
  <div style="margin-left:75px">
    <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  </div>
</div>
<%= render :partial => 'form' %>
